// $font-family-base: "Sans Serif", serif;
$font-family-2: "Open Sans", sans-serif;
$primary_blue: #196096;
$color_white: #fff;
$color_black: #000;
$color_gray: #0d2d3e;
$secondary_blue: #196096;
$accent_color: #196096;
